/*Inizio scrittura css*/

main , footer , header {
    margin-right: 20%; 
    margin-left: 20%;
    }

h1 , footer {
    text-align: center ;
    }   

img {
    height: 180px ;
    width: 200px ;
    padding-left: 40%;
    padding-right: 40%;
    }   

header {
    background-color: #e8e8eb;
    }

/*Conclusione prima parte css*/

    #Primo-hr {
        background-color: #fa8507;
        border: 0px;
        height: 3px;
        }   
    
h2 {
    color: #fa8507;
    font-weight: bold;
    }

h3 {
    font-style: oblique;
    font-weight: bold;
    }

main {
    padding-left: 1%;
    }    

#Secondo-hr {
    margin-right: 20%; 
    margin-left: 20%;
    background-color: #fa8507;
    border: 0px;
    height: 1px;
    }

/*Fine scrittura css*/